<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Survival Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Titanic Survival Prediction</h1>
        <form action="/predict/" method="post">
            <label for="pclass">Pclass:</label>
            <input type="number" name="pclass" id="pclass" required><br>

            <label for="sex">Sex (0 for male, 1 for female):</label>
            <input type="number" name="sex" id="sex" required><br>

            <label for="age">Age:</label>
            <input type="number" name="age" id="age" required><br>

            <label for="sibsp">SibSp:</label>
            <input type="number" name="sibsp" id="sibsp" required><br>

            <label for="parch">Parch:</label>
            <input type="number" name="parch" id="parch" required><br>

            <label for="fare">Fare:</label>
            <input type="number" name="fare" id="fare" required><br>

            <label for="embarked">Embarked (0 for C, 1 for Q, 2 for S):</label>
            <input type="number" name="embarked" id="embarked" required><br>

            <label for="familysize">Family Size:</label>
            <input type="number" name="familysize" id="familysize" required><br>

            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
